<!-- <br>
<button  (click)="backtohome()" mat-raised-button color="accent">Back</button><br><br>

<div class="userLogIn">
    <form [formGroup]="userLogInform" >
        <mat-form-field class="inputbox" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="@Username" formControlName="Username">

            <!-- <mat-hint *ngIf="!ownerLogInform.get('Username')?.touched">
                Enter your username
            </mat-hint>

            <mat-error
                *ngIf="ownerLogInform.get('Username')?.errors?.['whiteSpace'] && !ownerLogInform.get('Username')?.errors?.['minlength'] ">
                name should not allowd whitespace
            </mat-error>

            <mat-error
                *ngIf="ownerLogInform.get('Username')?.errors?.['minlength'] && !ownerLogInform.get('Username')?.errors?.['pattern'] ">
                Minimum 5 charecters
            </mat-error>

            <mat-error *ngIf="ownerLogInform.get('Username')?.errors?.['pattern']">
                Only alphabats
            </mat-error>
            <mat-error *ngIf="ownerLogInform.get('Username')?.errors?.['required']">
                this field is required*
            </mat-error>
        </mat-form-field><br><br>

        <mat-form-field class="inputbox" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="showPass? 'text': 'password'" placeholder="Pass@123" formControlName="Password">
            <mat-icon matSuffix (click)="vsiblePass()" *ngIf="!showPass">visibility_off</mat-icon>
            <mat-icon matSuffix (click)="vsiblePass()" *ngIf="showPass">visibility</mat-icon>

            <mat-hint *ngIf="!ownerLogInform.get('Password')?.touched">
                Enter your Password
            </mat-hint>

            <mat-error *ngIf="ownerLogInform.get('Password')?.errors?.['required']">
                this field is required*
            </mat-error>

            <mat-error *ngIf="ownerLogInform.get('Password')?.errors?.['pattern']">
                please match the pattern Pass@123
            </mat-error>

        </mat-form-field><br><br> -->

        <!-- <button mat-raised-button color="primary" (click)="loginForm()">LogIn</button>&nbsp;
        <button mat-raised-button color="primary" (click)="ownerSignUpform()">SignUp</button><br><br>
        <button mat-raised-button color="primary" >Forgot Password?</button><br> -->

    <!-- </form><br>     --> -->