<p>owner-hotel-registration works!</p>
<div>
    <div class="matformfield">
        <form>

            <mat-form-field class="matinpt" appearance="outline">
                <mat-label>Hotel owner fullname</mat-label>
                <input  matInput type="text" placeholder=" ex John Conner">
            </mat-form-field><br><br>

            <mat-form-field class="matinpt" appearance="outline">
                <mat-label>Hotel Name</mat-label>
                <input  matInput type="text" placeholder="ex abc hotel">
            </mat-form-field><br><br>

            <mat-form-field class="matinpt" appearance="outline">
                <mat-label>Hotel Address</mat-label>
                <input  matInput type="text" placeholder="ex location">
            </mat-form-field><br><br>

            <mat-form-field class="matinpt" appearance="outline">
                <mat-label>Hotels Contact</mat-label>
                <input  matInput type="text" placeholder="02462">
            </mat-form-field><br><br>

            <h4>Hotels Type</h4>
            <mat-button-toggle-group name="ingredients">
                <mat-label>Hotels Type</mat-label>&nbsp;
                <mat-button-toggle value="veg">Pure Veg </mat-button-toggle>
                <mat-button-toggle value="nonVeg">Non-Veg</mat-button-toggle>
                <mat-button-toggle value="veg&non">Veg&Non-Veg</mat-button-toggle>
              </mat-button-toggle-group><br><br>

        </form>
    </div>
</div>