<div class="site-heading">
  <nav class="navbar">
    <div class="hotel-heading">
      Nandedhotels.in
    </div>
    <ul class="nav-ul">
      <li><a href="#"></a>Register</li>
      <li><a href="#"></a>SignUp</li>

    </ul>
  </nav>
  <nav>
    <ul class="containt">
      <li><a href="#"></a>Stays</li>
      <li><a href="#"></a>Flights</li>
      <li><a href="#"></a>Carrentals</li>
      <li><a href="#"></a>Airport taxi</li>
      <li><a href="#"></a>Attractions</li>
    </ul>
  </nav>

  <div class="header">
    <h1>Find your next stay</h1>
    <p>Search low prices on hotels, homes and much more...</p>
  </div>

</div><br><br>


<div class="mat-container">
  <mat-card class="mat-card" *ngFor="let hotel of Data">
    <img [src]='src' class="akimg">

    <mat-card-header class="card-heading">
      <mat-card-title>{{hotel.hotelName}}</mat-card-title>
      <mat-card-subtitle>{{hotel.hotelOwnerName}}</mat-card-subtitle>
    </mat-card-header><br><br>

    <mat-card-content class="card-details">
      <p>{{hotel.hotelAddress}} </p>
      <p>Contact us: {{hotel.hotelContact}}</p>
      <p> HotelTye: {{hotel.hotelsType}}</p>
      <p>AvailableRooms: {{hotel.hotelRooms}}</p>
    </mat-card-content>

    <mat-card-actions class="bttn-action">
      <button mat-raised-button color="accent" (click)="book()" >Book Now</button>
    </mat-card-actions>

  </mat-card>

</div>

