<p>owner-login-success works!</p>
<button mat-raised-button color="accent" (click)="backtohome()" >Back</button><br><br>

<mat-hint>Register your new Hotel here... </mat-hint>
<button mat-raised-button color="accent" (click)="backtohomenewHotelRegst()">Register</button><br><br>
<mat-hint>your hotels</mat-hint>
<button mat-raised-button color="accent" (click)="myhotelDeltails()" >myhotelDeltails</button>


<div *ngIf="showtable">
    <table *ngIf="userHotelDetails.length > 0 showtable">
        <tr>
            <th *ngFor="let tableHed of tableheading">{{tableHed}}</th>
        </tr>
        <tr *ngFor="let tabledata of userHotelDetails">
           
            <td> {{tabledata.hotelOwnerName}} </td> 
            <td> {{tabledata.hotelName}} </td>  
            <td> {{tabledata.hotelAddress}} </td>  
            <td> {{tabledata.hotelContact}} </td>  
            <td> {{tabledata.hotelsType}} </td>  
            <td> {{tabledata.hotelRooms}} </td>  
            <td><img [src]="tabledata.hotelImage" ></td>
            <td><mat-icon (click)="editUpdate(tabledata.id)" >edit</mat-icon></td>  
            <td><mat-icon (click)="Delete(tabledata.id)">delete</mat-icon></td> 
        </tr>
    </table>
</div>

<!-- <div>
    <mat-card>
        <mat-card-header *ngFor="let tabledata of userHotelDetails">{{tabledata.hotelName}}</mat-card-header>
    </mat-card>
</div> -->




