.large-container{
    /* border: 1px solid black; */
    position: relative;
    left: 100px;
}
.search{
    /* margin-bottom: 1em;
    text-align: center; */
    color: aquamarine;
    position: relative;
    left: 100px;
}
.search input{
    background-color: var(--shadow-light);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-size: 0.8em;
    text-align: center;
    width: 300px;
    
}
    

.clickbuttn{
    background-color: var(--shadow-light);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-size: 0.8em;
    text-align: center;
    width: 100px;
    color: aquamarine;
}