<div class="container">
    <nav>

        <!-- <mat-card-header><h2>Nandedhotels.in</h2></mat-card-header> -->
        <h2 class="heading">Nandedhotels.in</h2>
        <ul class="buttons">
            <li><button class='bttn' (click)="journey('admin')" mat-raised-button color="accent">Admin</button></li>
            <li><button class='bttn' (click)="journey('owner')" mat-raised-button color="accent">Owner</button></li>
            <li> <button class='bttn' (click)="journey('user')" mat-raised-button color="accent">User</button></li>
        </ul>
    </nav>

</div>