<p>owner-home works!</p>

<button (click)="backtohome()" mat-raised-button color="accent"  >Back</button><br><br>

<div class="loginField">
<form >
<mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" placeholder="@Username">
</mat-form-field><br>
<mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="text" placeholder="Pass@123">
</mat-form-field><br>
<mat-hint>Do not have account please signup</mat-hint><br><br>
<button mat-raised-button color="primary">LogIn</button>&nbsp;
<button mat-raised-button color="primary" (click)="ownerSignUpform()">SignUp</button>
</form>
</div>